/* Set base CSS of All Pages, Written by Danai Jantapalaboon */
:root {
    --bg-menu: rgb(42, 69, 78);
    --bg-button: rgb(0, 156, 133);
    --bg-background: rgb(225, 225, 225);
    --bg-input-hover: rgb(225, 225, 225);
    --bg-button-hover: rgb(1, 112, 95);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--bg-background);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    .btn-button {
        background-color: var(--bg-button);
        color: #fff;
    }
    .btn-button:hover {
        background-color: var(--bg-button-hover);
        color: #fff;
    }
    input:hover, select:hover {
        background-color: var(--bg-input-hover);
        transition: 0.5s;
    }
}